.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

p {
  font-size: 20px;
  text-align: center;
}

.wrapper {
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 768px) {
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.date-and-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0px;
  font-size: 18px;
  word-break: break-all;
  width: 270px;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 70px;
}

.img {
  height: 220px;
  width: 220px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
