.languages {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 120px;
  max-height: 300px;
  background: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  right: 30px;
  top: 50px;
  border: 1px solid #eeeeee;
}

@media (min-width: 1280px) {
  .languages {
    border-radius: 0px 0px 5px 5px;
    border: none;
    border-top: 1px solid #212121;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.02);
    bottom: unset;
    right: 70;
    top: 50px;
  }
}

.languageContainer {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  align-items: center;
  justify-content: space-around;
  margin: 5px 0px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}

.languageContainer:hover {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.flag {
  width: 28px;
  height: 28px;
  border-radius: 1px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.text {
  font-weight: normal;
  font-size: 14px;
  color: #242e46;
  width: 60px;
  text-align: left;
}
