body {
    margin: 0px;
    font-size: 1.2em;
}
ul {
    margin: 0px;
    margin-left: 15px;
    padding: 0px;
}

li {
    padding: 5px;
    margin-left: 15px;
}

div.board {
	margin: 30px 20px 20px 20px;
	width: 672px;
  overflow: hidden;
}

div.board div {
	width: 75px;
	height: 75px;
	outline: 1px solid;
	float: left;
}

div.board div:nth-child(16n+1),
div.board div:nth-child(16n+3),
div.board div:nth-child(16n+5),
div.board div:nth-child(16n+7),
div.board div:nth-child(16n+10),
div.board div:nth-child(16n+12),
div.board div:nth-child(16n+14),
div.board  div:nth-child(16n+16) { 
	background-color: black;
}

a.piece {
	display: inline-block;
	margin: 15px 22.5px 22.5px 15px;
	padding: 5px 10px 5px 10px;
	border-radius: 105px;
  font-size: 30px;
  text-decoration: none;
}

a.piece:link {
  text-decoration: none
}

a.piece:visited {
  text-decoration: none
}

a.piece:hover {
  text-decoration: none;
}

a.piece:active {
  text-decoration: none;
}

a.piece.no-piece {
  width: 75px;
  height: 75px;
}

a.piece.white {
	border: 1px solid black;
	color: black;
	background-color: white;
}


a.piece.black {
	border: 1px solid white;
	background-color: black;
	color: white;
}


div.board div.highlighted {
	background-color: yellow;
}

div.board div.highlighted-red {
  background-color: red !important;
}

div.board div.selected {
	background-color: #7FFF00;
}

div.board div.checked {
  background-color: orange;
}

ul.takenPieces {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 448px;
  height: 60px;
}

ul.takenPieces li {
  float: left;
  margin: 0;
  padding: 0;
}