ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: transparent;
  border: 1px solid transparent;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 48px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 48px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
  width: 200px;
}

.icons-attribution,
.game-status,
.fallen-soldier-block {
  margin-top: 20px;
  min-height: 50px;
}

.dark-square {
  background-color: RGB(184, 139, 74);
}

.light-square {
  background-color: RGB(227, 193, 111);
}

#player-turn-box {
  width: 32px;
  height: 32px;
  border: 1px solid #000;
  margin-bottom: 10px;
  border-radius: 50%;
}

h3 {
  margin-bottom: 5px;
}

.restart {
  margin-top: 10px;
}

.restart-button {
  width: 150px;
  background: black;
  color: #9d9d9d;
  padding: 5px 15px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
}

.restart-button:hover {
  color: #fff;
}
